.frequantly {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.frequantly p {
    font-weight: 400;
    font-size: small;
    color: hsl(229, 8%, 60%)
}
.frequantly1 {
    width: 80%;
    text-align: center;
}
section {
    width: 100%;
    margin: 20px 0;
    border-top: 1px solid hsl(229, 8%, 60%);
}
section .quest {
    padding: 20px 0 ;
    border-bottom: 1px solid hsl(229, 8%, 60%);
}
section .head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.head img {
    width: 15px;
    transition: all .2s linear;
}
.head:hover {
    color: hsl(0, 94%, 66%)
}
img.active {
    transform: rotatez(180deg);
    filter: hue-rotate(109deg);;
}
.frequantly button {
    margin: 20px 0;
    border: 3px solid transparent;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: hsl(231, 69%, 60%);
    color: white;
}
.frequantly button:hover {
    border-color: hsl(231, 69%, 60%);
    color: hsl(231, 69%, 60%);
    background-color: white;
}
@media (max-width: 499px) {
    .frequantly {
        width: 100%;
    }
    .frequantly1 {
        width: 90%;
    }
    section {
        width: 90%;
    }
    .head:hover {
        color: black;
    }
}